body {
background-color: #f5f4eb;
color: #332;
font-size:12px;
font-family: 'Titillium Web', sans-serif;
text-align: center;
}

h1 {
  font-size: 42px;
  margin-bottom: 0em;
}

h2 {
  margin-top: 0em;
}

